@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 360px;
  min-height: 500px;
  background-color: #09090B;
  color: #FAFAFA;
  font-family: 'Inter', system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #09090B;
}
::-webkit-scrollbar-thumb {
  background: #27272A;
  border-radius: 3px;
}
